bin/
**/build/
!pkg/build/
**/install/
.vmake
.cache
build/compile_commands.json
cmd/vmake/vmake
official_repo
vmake_deps/

/vmake
/vmake-extensions/
.opencode/

test_data/*/.gitignore
test_data/*/go.mod
test_data/*/go.sum
test_data/07_subbuild_codegen/output/
test_data/15_subgraph_siblings/t15lib/include/

test_linux/17_firmware/busybox/src/
test_linux/17_firmware/linux/.config
test_linux/17_firmware/linux/vmlinux
test_linux/17_firmware/linux/zImage
test_linux/17_firmware/linux/arch/dts/board.dtb
test_linux/17_firmware/uboot/.config
test_linux/17_firmware/uboot/u-boot.bin
test_data/a.log
