CONFIG_LOCALVERSION="-vmake"
CONFIG_ARCH="x86_64"
CONFIG_NET=y
CONFIG_BLK_DEV=y
CONFIG_I2C=y
# CONFIG_SPI is not set
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_EXT4=y
CONFIG_SQUASHFS=y
# CONFIG_OVERLAY_FS is not set
