# CONFIG_FEATURE_SH_IS_ASH is not set
CONFIG_FEATURE_SH_IS_ASH=y
# CONFIG_FEATURE_SH_IS_HUSH is not set
CONFIG_ASH=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_RANDOM_SUPPORT=y
CONFIG_ASH_EXPAND_PRMT=y
CONFIG_CAT=y
CONFIG_CP=y
CONFIG_LS=y
CONFIG_MV=y
CONFIG_RM=y
CONFIG_MKDIR=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_ECHO=y
CONFIG_SLEEP=y
CONFIG_DATE=y
CONFIG_PRINTF=y
CONFIG_WC=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_TEE=y
CONFIG_TOUCH=y
CONFIG_MKNOD=y
CONFIG_MKTEMP=y
CONFIG_GREP=y
CONFIG_FIND=y
CONFIG_XARGS=y
CONFIG_SED=y
CONFIG_AWK=y
CONFIG_CUT=y
CONFIG_TR=y
CONFIG_WHOAMI=y
CONFIG_UNAME=y
CONFIG_HOSTNAME=y
CONFIG_PWD=y
CONFIG_CD=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_TEST=y
CONFIG_BASENAME=y
CONFIG_DIRNAME=y
CONFIG_EXPR=y
CONFIG_TTY=y
CONFIG_IONICE=y
CONFIG_UMOUNT=y
CONFIG_MOUNT=y
CONFIG_MOUNT_POINT=y
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_FEATURE_INIT_SCTTY=y
CONFIG_HALT=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_PIDOF=y
CONFIG_PS=y
CONFIG_CLEAR=y
CONFIG_RESET=y
CONFIG_DMESG=y
CONFIG_ENV=y
CONFIG_PRINTENV=y
CONFIG_EXPORT=y
CONFIG_READLINK=y
CONFIG_LN=y
CONFIG_STAT=y
CONFIG_DF=y
CONFIG_DU=y
CONFIG_MD5SUM=y
CONFIG_SHA256SUM=y
CONFIG_FREE=y
CONFIG_UPTIME=y
CONFIG_SORT=y
CONFIG_UNIQ=y
CONFIG_WC=y
CONFIG_TAR=y
CONFIG_GZIP=y
CONFIG_GUNZIP=y
CONFIG_ZCAT=y
CONFIG_BZIP2=y
CONFIG_BUNZIP2=y
CONFIG_XZ=y
CONFIG_UNXZ=y
CONFIG_IP=y
CONFIG_IFCONFIG=y
CONFIG_ROUTE=y
CONFIG_PING=y
CONFIG_NETSTAT=y
CONFIG_WGET=y
CONFIG_TFTP=y
CONFIG_TELNET=y
CONFIG_VI=y
CONFIG_TOP=y
CONFIG_FEATURE_TOP_SMP_PROCESS=y
CONFIG_FEATURE_SHOW_THREADS=y
